<div class="inputStyle">
    <input class="inputSearch {{#if className}} {{ className }}{{/if}}"
            type="{{ type }}" title="{{ title }}" name="{{ name }}" value="{{value}}" placeholder="{{placeholder}}">
</div>